{% extends 'base.html' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}



{% block body_block %}
<center>
<div class="container">
    <div class='jumbotron'>
    <h1>displying change password form</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    
    
    
    </form>
</div>
</div>
</center>


{% endblock %}